{% extends 'base.html.twig' %}

{% block title %}Проект{% endblock %}

{% block body %}

<div id="page-content" class="container">
    <!-- project content + sidebar -->
    <section id="project">
        <div class="row">
            <!-- project content area -->
            <div class="col-sm-7">
                <div class="project-content-area">
                    <img src=" {{ asset(project.imgUrl) }} " alt="" class="space-bottom-30">
                    <h4>PROJECT DESCRIPTION</h4>
                    <p>{{project.description}}</p>
                </div><!-- / project-content-area -->    
            </div>
            <!-- / project-content-area -->

            <!-- project sidebar area -->
            <div class="col-sm-5 project-sidebar right">
                <div class="section-description light">
                    <h4>{{project.title}}</h4>
                    <p>{{project.description}}</p>
                    <h4 class="space-top-30">PROJECT INFO</h4>
                    <div class="project-info">
                        <div class="info">
                            <p><i class="lnr lnr-user"></i><span>Client:<a href="#x"> Basic Theme</a></span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-star"></i><span>Skills:<a href="#x">Web Design</a>, <a href="#x"> Branding</a></span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-calendar-full"></i><span>Date: Jan. 22, 2016</span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-map"></i><span>Location: Itali</span></p>
                        </div>
                    </div><!-- / project-info -->

                    <div class="info-buttons">
                        <a href="#" class="btn btn-primary-filled"><i class="lnr lnr-eye"></i><span> View Demo</span></a>
                        <a href="contact.html" class="btn btn-default-filled"><i class="lnr lnr-phone-handset"></i><span> Contact</span></a>
                    </div><!-- / info-buttons -->

                </div><!-- section-description -->

            </div><!-- / col-sm-4 col-md-3 -->
            <!-- / project sidebar area -->
        </div><!-- / row -->
    </section>
    <!-- / project content + sidebar -->

    <!-- project pagination -->
    <div class="pagination">
        <a href="{{ path('single_project', {'id':project.id-1})}}" class="btn btn-direction btn-default-filled"><i class="fa fa-long-arrow-left"></i><span>Previous Project</span></a>
        <a href="{{ path('single_project', {'id':project.id+1})}}" class="btn btn-direction btn-default-filled pull-right"><span>Next Project</span><i class="fa fa-long-arrow-right"></i></a>
    </div><!-- / project pagination -->   

{% endblock %}
